body {
    font-family: 'arial', 'sans-serif';
    font-size: 15px;
}
#title {
    font-weight: bold;;
}
li {
    padding: 10px;
}
.container {
    display: grid;
    border: 1px solid black;
}
.content {
    border: 1px solid red;
}
.img {
    float: left;
    border: 1px solid black;
}
@media only screen and (min-width: 600px) and (max-width: 768px){

}
@media only screen and (min-width: 768px) {
}