body {
    font-family: 'arial', 'sans-serif';
    font-size: 12px;
}
#title {
    font-weight: bold;;
}
li {
    padding: 5px;
}
main {
    border: 1px solid black;
    width: 100%;
}
.questions {
    border: 1px solid black;
    width: 450px;
}
.answers {
    border: 1px solid black;
}
.content_a {
    border: 1px solid red;
}
.content_b {
    border: 1px solid red;
}
.content_c {
    border: 1px solid red;
}
.img_a {
    background-image: url("../img/htmlcssjavascript_mobile.png");
    background-repeat: no-repeat;
    width: 159px;
    height: 89px;
    border: 1px solid black;
}
.img_b {
    background-image: url("../img/scrimba_mobile.png");
    background-repeat: no-repeat;
    width: 160px;
    height: 26px;
    border: 1px solid black;
}
.img_c {
    background-image: url("../img/PrototypeNewObject_mobile.png");
    background-repeat: no-repeat;
    width: 300px;
    height: 170px;
    border: 1px solid black;
}
@media only screen and (min-width: 600px) and (max-width: 768px){
    .img_a {
        background-image: url("../img/htmlcssjavascript_mobile.png");
    }
    .img_b {
        background-image: url("../img/scrimba_mobile.png");
    }
    .img_c {
        background-image: url("../img/PrototypeNewObject_mobile.png");
    }
}
@media only screen and (min-width: 768px) {
    body {
        font-size: 15px;
    }
    .page_content {
        margin: 0 auto;
        /*
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        */
    }
    .questions {
        width: 650px;
        height: 250px;
    }
    .answers {
        display: grid;
        grid-template-columns: 250px 450px;
    }
    .img_a {
        background-image: url("../img/htmlcssjavascript.png");
        width: 318px;
        height: 177px;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .img_b {
        background-image: url("../img/scrimba.png");
        width: 320px;
        height: 52px; 
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    .img_c {
        background-image: url("../img/PrototypeNewObject.png");
        width: 400px;
        height: 226px;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
    }
}